<div class="modal-header">
	<h3 class="modal-title">Configure</h3>
</div>

<div class="modal-body">
	<div><button ng-click="addNew()" class="btn btn-primary">Add new</button></div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Location</th>
				<th>Description</th>
				<th>Contact</th>
				<th>Requirements</th>
				<th>Edit</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="service in services">
				<td><span ng-if="!service.editing">{{service.location}}</span><input ng-model="service.location" ng-if="service.editing" /></td>
				<td><span ng-if="!service.editing">{{service.description}}</span><input ng-model="service.description" ng-if="service.editing" /></td>
				<td><span ng-if="!service.editing">{{service.contact.name}} ({{service.contact.phone}})</span></td>
				<td><span ng-repeat="req in service.requirements">{{req.description}}, </span></td>
				<td><button ng-click="edit(service)" ng-if="!service.editing" class="btn btn-default">E</button><button ng-click="save(service)" ng-if="service.editing" class="btn btn-primary">S</button></td>
				<td><button ng-click="remove(service)" class="btn btn-danger">D</button></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>